.CategoryList ul{
  list-style-type:circle;
  margin: 20%;
}
.dropBtn {
  background-color:rgb(231, 196, 149);
  box-shadow: 0 0 5px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}