.CategoryList ul{
  list-style-type:circle;
  margin: 20%;
}
.dropBtn {
  background-color:rgb(231, 196, 149);
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.dropBtn:hover {
  background-color:rgb(231, 196, 149);
}
.CategoryList {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0;
  border-radius: 5px;
  padding: 0;
}
.dropdownContent li a{
  list-style-type: none;
  color: black;
  padding: 3px;
  text-decoration: none;
  display: block;
}
.dropdownContent li {
  background-color:#ebdcc0;
  list-style-type: none;
}
.CategoryList:hover .dropdownContent {
  display: block;
  margin: 5px;
  box-shadow: 0 0 20px black;
}
.dropdownContent li:hover {
  background-color:rgb(240, 240, 224);
}
.dropdownContent li a:hover {
  transform: translateX(5px);
  transition: 200ms ease all;
  color:burlywood ;
}