
.OrderForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid inherit;
  padding: 10px;
  margin: 10px;
  box-shadow:  0 0 20px gray;
  width: 50%;
}
.OrderForm input{
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.OrderForm button{
  padding: 5px 20px;
  background-color:#ccae87;
  border: 1px solid gray;
  color: white;
  font-weight: 600;
}
.OrderForm input:focus{
  outline: none;
}
