.Layout{
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color:#ccae87;
}
.Layout aside{
  flex: 20% 0 0 ;
  background-color:#e4d4b3;
}
.Layout main{
  flex: 80% 1 1;
  background-color:#e4d4b3;
  padding: 100px;
}
.Layout footer{
  flex: 100% 0 0 ;
  background-color:#ccae87;
  padding: 50px;
}