.Layout {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.Layout header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #ccae87;
}
.Layout aside {
  background-color: #ccae87;
  width: 170px;
}

.Layout main .Home {
  color: white;
  padding: 50px;
  font-size: 17px;
  font-weight: 600;
}
.Layout main .main-up{
  box-shadow:0 0 10px;
  padding: 20px 20px;
}
.Layout main > div {
  height: 100%;
  background-size: cover;
  background-position: top center;
}
.Layout h1 {
  margin-top: 0;
}
.Layout main {
  width: calc(100% - 170px);
  min-height: 500px;
}
.Layout main .About {
  color: white;
  padding: 50px;
  font-size: 17px;
  font-weight: 600;


}

.main_in {
  box-shadow: 0 0 10px;
  padding: 20px 10px;
}
.Layout main .Contact{
  color:white;
  padding: 50px;
  font-size: 17px;
  font-weight: 600;


}
.contact-menu{
  box-shadow: 0 0 20px;
  padding: 20px 10px;
}
.Layout main .Delivery{
  color:white;
  padding: 50px;
  font-weight: 600;
  font-size: 17px;
}
.delivery-menu{
  box-shadow: 0 0 20px;
  padding: 20px 10px;
}
.Layout footer {
  flex: 100% 0 0;
  background-color: #ccae87;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  color: white;
}
