.Nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.Nav li a   {
  color:white;
  padding: 5px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
}
.Nav li a:hover {
  transform: translateX(10px);
  transition: 200ms ease all;
  color:sienna;
}


