.Nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.Nav li a   {
  color:white;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

.Nav ul li a:hover{
  background-color:burlywood;
  border-radius: 30px;
  box-shadow: 0 0 10px 0px wheat;

} 
