.Nav{
  font-weight: 600;
  font-size: 17px;

}
.Nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.Nav li a   {
  color:beige;
  padding: 5px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
}
.Nav li a:hover {
  color:rgb(163, 103, 76);
}


