.ProductList .Product {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  max-width: 300px;
  border: 1px solid inherit;
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 10px gray;
  background-color:rgb(216, 201, 181); 

}
.ProductList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}
.ProductList .Product img{
  width: 200px;
  height: 200px;

}

.ProductList .Product .AboutProduct{
  text-decoration: none;
  color:black;
  padding: 7px;
  font-weight: 600;
}